<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title> Index Page</title>
</head>
<body>
<h1> ============================================================================ </h1>
<h1>  Si e' verificato un errore durante il caricamento della pagina, siamo spiacenti     </h1>
<h1> ============================================================================ </h1>

<a th:href="@{/}"> torna alla pagina principale </a>
<br>
<a th:href="@{/login}"> torna alla pagina di login </a>
</body>
</html>