<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="css/bootstrap-italia.min.css">
<link rel="stylesheet" href="css/login.css">
<link rel="stylesheet" href="css/spid-sp-access-button.min.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">

<!--Custom styles-->
<link rel="stylesheet" type="text/css" href="styles.css">
<meta charset="ISO-8859-1">
<title>Pagina accesso</title>
</head>
<body>
<body>
	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<div class="card">
				<div class="card-header">
					<h3>Sign In</h3>
					<div class="d-flex justify-content-end social_icon">
						<span><i class="fab fa-facebook-square"></i></span> <span><i
							class="fab fa-google-plus-square"></i></span> <span><i
							class="fab fa-twitter-square"></i></span>
					</div>
				</div>
				<div class="card-body">
					<form th:action="@{/controlloLogin}" th:object="${loginForm}"
						method="post">
						<p th:if="${CredenzialiErrate}" class= "error justify-content-center links"> Username o password errate
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" class="form-control" placeholder="username" id="username" name="username"  autofocus="autofocus">

						</div>
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" class="form-control"
								placeholder="password" id="password" name="password">
						</div>
						<div class="row align-items-center remember">
							<input type="checkbox">Ricordami
						</div>
						<div class="form-group">
							<input type="submit" value="Login"
								class="btn float-right login_btn">
						</div>
					</form>

					<form name="spid_idp_access" action="#" method="post">
						<a class="italia-it-button italia-it-button-size-m button-spid"
							href="http://127.0.0.1:8084/loginSpid" target="_blank "> <span
							class="italia-it-button-icon"><img
								src="img/spid-ico-circle-bb.svg" 
								alt=""></span> <span class="italia-it-button-text"> Entra
								con SPID</span>
						</a>

					</form>
				</div>
				<div class="card-footer">
					<div class="d-flex justify-content-center links">
						Non hai un account?<a href="#">Registrati</a>
					</div>
					<div class="d-flex justify-content-center">
						<a href="#" class="">Hai scordato la password?</a>
					</div>
					<div class="d-flex justify-content-center links">
						Vuoi tornare alla pagina iniziale? <a th:href="@{/}" class="">
							Cliccami </a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

<script src="js/bootstrap-italia.bundle.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/spid-sp-access-button.min.js"></script>

<script>
	$(document).ready(
			function() {
				var rootList = $("#spid-idp-list-small-root-get");
				var idpList = rootList.children(".spid-idp-button-link");
				var lnkList = rootList.children(".spid-idp-support-link");
				while (idpList.length) {
					rootList.append(idpList.splice(Math.floor(Math.random()
							* idpList.length), 1)[0]);
				}
				rootList.append(lnkList);
			});

	$(document).ready(
			function() {
				var rootList = $("#spid-idp-list-medium-root-get");
				var idpList = rootList.children(".spid-idp-button-link");
				var lnkList = rootList.children(".spid-idp-support-link");
				while (idpList.length) {
					rootList.append(idpList.splice(Math.floor(Math.random()
							* idpList.length), 1)[0]);
				}
				rootList.append(lnkList);
			});

	$(document).ready(
			function() {
				var rootList = $("#spid-idp-list-large-root-get");
				var idpList = rootList.children(".spid-idp-button-link");
				var lnkList = rootList.children(".spid-idp-support-link");
				while (idpList.length) {
					rootList.append(idpList.splice(Math.floor(Math.random()
							* idpList.length), 1)[0]);
				}
				rootList.append(lnkList);
			});

	$(document).ready(
			function() {
				var rootList = $("#spid-idp-list-xlarge-root-get");
				var idpList = rootList.children(".spid-idp-button-link");
				var lnkList = rootList.children(".spid-idp-support-link");
				while (idpList.length) {
					rootList.append(idpList.splice(Math.floor(Math.random()
							* idpList.length), 1)[0]);
				}
				rootList.append(lnkList);
			});

	$(document).ready(
			function() {
				var rootList = $("#spid-idp-list-small-root-post");
				var idpList = rootList.children(".spid-idp-button-link");
				var lnkList = rootList.children(".spid-idp-support-link");
				while (idpList.length) {
					rootList.append(idpList.splice(Math.floor(Math.random()
							* idpList.length), 1)[0]);
				}
				rootList.append(lnkList);
			});

	$(document).ready(
			function() {
				var rootList = $("#spid-idp-list-medium-root-post");
				var idpList = rootList.children(".spid-idp-button-link");
				var lnkList = rootList.children(".spid-idp-support-link");
				while (idpList.length) {
					rootList.append(idpList.splice(Math.floor(Math.random()
							* idpList.length), 1)[0]);
				}
				rootList.append(lnkList);
			});

	$(document).ready(
			function() {
				var rootList = $("#spid-idp-list-large-root-post");
				var idpList = rootList.children(".spid-idp-button-link");
				var lnkList = rootList.children(".spid-idp-support-link");
				while (idpList.length) {
					rootList.append(idpList.splice(Math.floor(Math.random()
							* idpList.length), 1)[0]);
				}
				rootList.append(lnkList);
			});

	$(document).ready(
			function() {
				var rootList = $("#spid-idp-list-xlarge-root-post");
				var idpList = rootList.children(".spid-idp-button-link");
				var lnkList = rootList.children(".spid-idp-support-link");
				while (idpList.length) {
					rootList.append(idpList.splice(Math.floor(Math.random()
							* idpList.length), 1)[0]);
				}
				rootList.append(lnkList);
			});
</script>
</body>


</html>