<div th:fragment ="SecurityPolicyException">
<h3> ATTENZIONE:</h3> <h4> Errore 403: Impossibile stabilire l'autenticità della richiesta di autenticazione, Contattare il gestore del servizio </h4>
</div>

<div th:fragment ="FatalProfileException">
<h3> ATTENZIONE:</h3> <h4> AssertionConsumerService non correttametne valorizzato. Formulare correttamente la richiesta </h4>
</div>

<div th:fragment ="ValidationException">
<h3> ATTENZIONE:</h3> <h4> Utente privo di credenziali compatibili con il livello richiesto dal fornitore del servizio </h4>
</div>

<div th:fragment ="erroreGenerico">
<h3> ATTENZIONE:</h3> <h4> Sistema di autenticazione non disponibile Riprovare successivamente </h4>
</div>