
<!-- Inizio Frammento per body -->
<div th:fragment ="body">

<h1> ============================================================================ </h1>
<h1>  Si e' verificato un errore durante il caricamento della pagina, siamo spiacenti     </h1>
<h1> ============================================================================ </h1>

</div>


<!-- Inizio Frammento per footer -->
<div th:fragment="footer">

<a th:href="@{/}"> torna alla pagina principale </a>
<br>
<a th:href="@{/login}"> torna alla pagina di login </a>
</body>
</html>

</div>